/* pc plus */
@media (min-width: 100em){
    /* html */
    html {
        background-color: #191919;
    }
    /* header-section */
    .header-section {
        max-width: 1600px;
        margin: 0 auto;
    }
    /* slider */
    .sliders {
        margin: 0 auto;
        background-color: #010101;
        max-width: 1600px;
        position: relative;
    }
    .sliders::after {
        position: absolute;
        content: "";
        width:300px;
        height: 570px;
        top: 10px;
       background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(0, 0, 0, 0.836));
    }
    .sliders::before {
        position: absolute;
        content: "";
        width:300px;
        height: 570px;
        top: 10px;
        right: 0;
       background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 0.945));
    }
    /* galleries-slider */
    .gallerries {
        background-color: #1d1b1d ;
    }
    .galleries-slider {
        
        max-width: 1600px;
        margin: 0 auto;
    }
    .container {
        max-width: 1600px;
        margin: 0 auto;
        padding: 100px 22px;
    }
    /* footer */
    .footer {
        background-color: #1e1b1e;
    }
    
    .footer-container {
        margin: 54px auto;
        padding: 0px 0px 0px;
        max-width: 1600px;
    }
}

/* tablet + mobile */
@media (max-width: 64em) {

    /* .nav-bar-icon */
    .nav-bar-icon {
        display: block;
        padding-top: 7px;
        padding-right: 36px;
        padding-left: -4px;
        cursor: pointer;
    }
   
    .nav-bar-overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
    }
    .s-header-nav {
        display: block;
        transform: translateX(-301px);
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background-color:#141114;
        z-index: 10;
        padding: 20px;
        overflow: scroll;
    }
    .s-header-top {
        height:70px;
        background-color: #1e1b1e;
        display: flex;
        justify-content: space-between;
    }
    .s-header-logo{
        width: 100px;
        height: 100px;
        
    }
    .s-header-times {
        font-size: 1.7rem;
        color: #fff;
    }
    .s-header-body {
        padding: 40px 0px;
    }

    /* login header */
    .login-btn {
        padding: 0px 6px;
        border: none;
    }
    .login-btn:hover {
        border: none;
        opacity: 0.7;
    }
    .s-nav-list {
        display: block;
    }
    .s-link-nav-item {
        padding: 10px 0px;
        margin-top: 10px;
        display: block;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 2px;
    }
    /* sub nav */
    .s-sub-nav {
        margin-left: 20px;
        padding: 10px 0;
    }
    .s-link-sub-nav-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        margin-top: 10px;
        
    }
    .s-link-sub-nav-item {
        font-size: 16px;
        letter-spacing: 1.5px;
    }

    /* ckeckbox nav */
    

    /* header */

    .nav {
        display: none;
    }


    .header-search {
        max-width: none;
    }
    .input-item {
        flex-grow: unset;
    }
    .text-desc {
        display: none;
    }
    
    .galleries-slider {
        display: none;
    }

    /* main */
    .container-list  .title-container {
        display: block;
        text-align: center;
    }
    .container-list .title-right {
        display: none;
    }

    /* card-list */
    .card-list {
        padding-bottom: 45px;
        overflow-x: scroll;
    }

    /* live call */
    .list-person {
        flex-wrap: wrap;
    }
    .person {
        margin: 12px auto;
        max-width: 550px;
        width: 470px;
        justify-content: space-between;
    }
    .img-person > img {
        width: 124px;
    }

    
    /* footer */
    .footer-main {
        flex-direction: column;
    }
    .mailing-section {
        text-align: center;
    }
    .footer-information {
        flex-wrap: wrap;
    }
    .footer-information-left {
        margin-right: 0;
        text-align: center; 
    }
    
    .language-section {
        display: none;
    }
    .enroll-register {
        text-align: center;
        margin-top: 54px;
    }
    .enroll-section > span,
    .register-section >span {
        float: none;
        display: inline-block;
    }
    .footer-information-right {
        width: 100%;
    }
    .icon-social {
        width: 100%;
        justify-content: center;
        margin-top: 50px;
    }
    .icon-social > a {
        font-size: 22px;
        padding: 0 14px;
    }

    .enroll-section > p,
    .register-section > p {
        float: none;
    }
    /* arrow-product */
    .title-container >h2::after {
        display: block;
    }
}

/* Tablet: >= 740px  46.25em and <1024px 64em*/
@media (min-width:  46.25em) and (max-width:  64em) {
    

    /* slider */
    .sliders {
        padding-top: 500px;
    }
    .text-content {
        position: absolute;
        width: 423px;
        top: 354px;
        left: 5%;
    }
    .text-sub-heading {
        font-size: 14px;
    }
    .text-heading {
        color: #fff;
        font-size: 34px;
        margin: 14px 0;
    }

    /* main */
    .container {
        padding: 60px 24px;
    }
}
/* Mobile: < 740px 46.1875em */
@media (max-width: 46.1875em) {

    /* slider */
    .sliders {
        padding-top: 420px;
    }
    .text-content {
        left: 0;
        right: 0;
        position: absolute;
        width: auto;
        top: 171px;
        left: 0;
        text-align: center;
        background-color: rgba(0,0,0,0.4);
    }
    

    /* main */
    .container {
        padding: 60px 24px;
    }
    
    /* carousel */
    .carousel {
        flex-wrap: wrap;
    }
    .carousel-item {
        margin: 12px auto;
        width: 60%;
    }


    /* footer */
    .icon-social > a {
        font-size: 26px;
        padding: 0 16px;
    }

    
}

